In [2]:
# all the packlages to be imported 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import torch
import torchaudio as ta

from scipy.io import wavfile
import scipy

In [15]:
# creating a pandas dataframe to store the patients data
patient_data = pd.read_excel("task1/sand_task_1.xlsx")
patient_data

        ID  Age Sex  Class
0    ID000   80   M      5
1    ID001   61   F      5
2    ID002   51   F      4
3    ID003   59   M      3
4    ID005   80   F      5
..     ...  ...  ..    ...
267  ID333   76   M      4
268  ID335   64   M      4
269  ID336   71   F      5
270  ID337   57   F      5
271  ID338   42   F      4

[272 rows x 4 columns]

In [ ]:
# contains ID, Age, Sex, Class
# ALSFRS-R score, an integer value from 0 to 4 for ALS patients, or a value of 5 for the healthy subjects.
# 4 is good functioning, 1 is really bad
# preprocessing signal class

patient_data = pd.read_excel("task1/sand_task_1.xlsx")

class signal:

    patient_data = pd.read_excel("task1/sand_task_1.xlsx")

    def __init__(self,id,sound):
        self.a = wavfile.read(f"task1/training/phonationA/{id}_phonation{sound}.wav") # (int:sample_rate, np.array:waveform)
        (self.sample_rate,self.wav) = self.a
        self.clas = int(patient_data["Class"][np.where(patient_data["ID"] == id)[0]].iloc[0])

    def plot_fft(self):
        # sample_rate,waveform = self.a
        fft_ = scipy.fft.fft(self.wav)
        len_ = len(self.wav)
        fft_mag = abs(fft_)
        freq_buckets = np.linspace(0,self.sample_rate,len(fft_))
        plt.plot(freq_buckets,fft_mag)
    
    def get_fft(self):
        fft_ = scipy.fft.fft(self.wav)
        len_ = len(self.wav)
        fft_mag = abs(fft_)
        freq_buckets = np.linspace(0,self.sample_rate,len_)
        return fft_

    def __len__(self):
        return len(self.wav)

In [61]:
ID000 = signal("ID200")
ID007 = signal("ID001")

5

In [ ]:
scipy.signal.correlate(get_fft)